
q { color: gray; }
q:before:lang(zh) { content: "\300E" ; }
q:after:lang(zh) { content: "\300F" ; }


/* following is CSS for Terminal kind of text.  *****/

.term { 
	color: white;
	background-color: black;
	font-family: monospace; 
}

.term .Red { color: #B00; }
.term .RedBold { color: #F44 ; font-weight: 700 ; }
.term .RedBack { background-color: #B00; }


